/*
 * Reference for all the -fx- styles
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#text
 */

.legbaName {
	
}

.root {
 
}

.headerMenu {
	/* Style class for the header Menu, should distinguish the 
	   Menu from the rest of the interface and look sleek and match the color scheme */
	   
	-fx-background-color: #fff/* #535360*/;
	
	/*-fx-border-style: solid;
	-fx-border-color: dodgerblue;
	
	-fx-font-family: cursive;*/
	
}

.homeImage {
	-fx-cursor: hand;
}

Button {
	-fx-cursor: hand;
}

.element-presentation{
	-fx-spacing:10px;
	-fx-fill-width:true;
	
	-fx-background-color: #554f5f;
	
}

.element-slide{
	
	-fx-background-color: #fadffa;
	-fx-padding: 10px;
	
}